---
interface Props {
  class?: string;
  gapClass?: string;
}

const { class: extraClass, gapClass } = Astro.props as Props;

const gap = gapClass ?? 'gap-6';
---

<div class:list={['grid', gap, 'sm:grid-cols-2 lg:grid-cols-3', extraClass]}>
  <slot />
</div>

